<div class="container">
	<div class="row">
		<div  class="col-lg-6 col-lg-offset-3">
		<%= form_for(@article) do |f| %>
		  <% if @article.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
		
		      <ul>
		      <% @article.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		
		 
		    <%= f.label :title %>
		    <%= f.text_field :title, class: "form-control" %>
		    <br/>
		  
		  
		  <%= f.label :body %>
		  <%= f.text_area :body, class: "form-control" %>
		  <br/>
		
		
		    <div class="field">
		      <%= f.label :excerpt %><br>
		      <%= f.text_field :excerpt %>
		    </div>
		    <div class="field">
		      <%= f.label :location %><br>
		      <%= f.text_field :location %>
		    </div>
		  <div class="field">
		    <%= f.label :published_at %><br>
		    <%= f.datetime_select :published_at %>
		  </div>
		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
		</div>
	</div>
</div>
