<div class="container">
	
	<h1>Listing articles</h1>
	
	<table>
		<div class="row">
	  <thead>
	    <tr>
	    
	    <div class="col-sm-2">
	    	<th>Title</th>
	    </div>	
	    <div class="col-sm-2">
	    	<th>Body</th>
	    </div>
	    <div class="col-sm-1">
	    	<th>Excerpt</th>
	    </div>
	    <div class="col-sm-1">
	    	<th>Location</th>
	    </div>
	    <div class="col-sm-3">
	    	<th>Published at</th>
	    </div>
	      <div class="col-sm-3">
	      	<th></th>
	      </div>
	    </tr>
	  </thead>
	  </div>
	<div class="row">
	  <tbody>
	    <% @articles.each do |article| %>
	      <tr>
	      	<div class="col-sm-2">
	      		<td><%= article.title %></td>
	      	</div>
	      	<div class="col-sm-2">
	      		<td><%= article.body %></td>
	      	</div>
	      	<div class="col-sm-1">
	      		<td><%= article.excerpt %></td>
	      	</div>
	      	<div class="col-sm-1">
	      		<td><%= article.location %></td>
	      	</div>
	      	<div class="col-sm-3">
	      		<td><%= article.published_at %></td>
	      	</div>
	        
	        
	        <div class="col-sm-3">
	        <td><%= link_to 'Show', article %></td>
	        <td><%= link_to 'Edit', edit_article_path(article) %></td>
	        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        </div>
	      </tr>
	    <% end %>
	  </tbody>
	  </div>
	</table>
	
	<br>
	
	<%= link_to 'New Article', new_article_path %>
</div>
